<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre as modalidades</title>

    <link rel="stylesheet" href=  "../static/style/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
  <div class="logo">
        <img src="../static/img/logo-ascender.jpg" alt="Ascender Logo">
  </div>

  <nav>
      <a href="{{ url_for('index') }}">Sobre</a>
      <a href="{{ url_for('abrir_dashbordadm', id=session['id_usuario']) }}">Voltar</a>
  </nav>
</header>

    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}


    <div class="container">
        <div class="form-container">
            <h2 class="prof2">Cadastre um(a) professor(a)</h2>
<form action="{{ url_for('cadastroprofessor') }}" method="post" >


        <input type="text" id="nome" name="nome" placeholder="Digite seu nome:" required>
        <input type="email" id="email" name="email" placeholder="Digite seu e-mail:" required>
        <input type="text"
           id="cpf"
           name="cpf"
           placeholder="Digite seu CPF:"
           pattern="[0-9]{11}"
           maxlength="11"
           inputmode="numeric"
           oninput="this.value = this.value.replace(/\D/g, '').slice(0,11);"
           title="Digite apenas números (11 dígitos)" required>
        <input type="text"
           id="telefone"
           name="telefone"
           placeholder="Digite seu telefone:"
           pattern="[0-9]{11}"
           maxlength="11"
           inputmode="numeric"
           oninput="this.value = this.value.replace(/\D/g, '').slice(0,11);"
           title="Digite apenas números (11 dígitos, incluindo DDD)"
           required>
        <button type="submit"> Concluído </button>
      </form>
        </div>
        <div class="text-container">
            <p>Cadastre um novo professor para fazer parte da nossa equipe!</p>
        </div>
    </div>
</body>

<footer class="rodape">
    <div class="conteudo-rodape">
    <div class="coluna-esquerda">
        <h3>ASCENDER</h3>
        <p><a href="home.html">Sobre nós</a></p>
    </div>
    <div class="coluna-direita">
        <p>Rua das Acácias, 123</p>
        <p>Bairro Jardim Primavera</p>
        <p>São Paulo - SP</p>
        <p>CEP: 01234-567</p>
    </div>
</div>
</footer>
    

</html>