<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Perfil - Ascender</title>
  <link rel="stylesheet" href=  "../static/style/style.css">
</head>
<body>
  <!-- HEADER -->
  <header>
    <div class="logo">
      <img src="../static/img/logo-ascender.jpg" alt="Logo Ascender">
    </div>
    <nav>
      <a href="{{ url_for('index') }}">Sobre</a>
        {% if session.usuario is defined and session.usuario[5] == 0 %}
            <p ><a href="{{ url_for('abrir_dashbordadm', id=session.usuario[1]) }}">Voltar</a></p>
        {% else %}
            <p ><a href="{{ url_for('abrir_dashbordaluno', id=session.usuario[1]) }}">Voltar</a></p>
        {% endif %}
    </nav>
  </header>

  {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

  <!-- FORM -->
  <div class="container">
    <div class="cadastro">
      <h2>Edite o perfil</h2>
      <form method="POST" action="{{ url_for('editar_usuario', id=usuario[0]) }}">
       <input name="nome" id="nome" type="text" value="{{ usuario[1] }}" placeholder="Nome" required pattern="[A-Za-zÀ-ÿ\s]+" title="Somente letras são permitidas">
        <input name="email" id="email" type="email" value="{{ usuario[2] }}" placeholder="Email">
        <input name="cpf"
         id="cpf"
         type="text"
         value="{{ usuario[6] }}"
         placeholder="CPF"
         pattern="[0-9]{11}"
         maxlength="11"
         inputmode="numeric"
         oninput="this.value = this.value.replace(/\D/g, '').slice(0,11);"
         title="Digite apenas números (11 dígitos)"
         required>
        <input name="telefone"
         id="telefone"
         type="text"
         value="{{ usuario[4] }}"
         placeholder="Telefone (DDD + número)"
         pattern="[0-9]{11}"
         maxlength="11"
         inputmode="numeric"
         oninput="this.value = this.value.replace(/\D/g, '').slice(0,11);"
         title="Digite apenas números (11 dígitos)"
         required>
         <input type="password" id="senha" name="senha" placeholder="Crie uma senha:" title="A senha deve conter ao menos uma letra maiúscula,uma minúscula, um número e um caractere especial."  required>

        <div>
          <button type="submit" class="save-btn">Salvar</button>
        </div>
      </form>
    </div>
    <div class="text-container">
      <p>Atualize seus dados e nos mantenha atualizados.</p>
    </div>
  </div>

  <script src="../static/script.js"></script>
</body>

  <!-- FOOTER -->
  <footer class="rodape">
    <div class="conteudo-rodape">
      <div class="coluna-esquerda">
        <h3>ASCENDER</h3>
        <p><a href="home.html">Sobre nós</a></p>
      </div>
      <div class="coluna-direita">
        <p>Rua das Acácias, 123</p>
        <p>Bairro Jardim Primavera</p>
        <p>São Paulo - SP</p>
        <p>CEP: 01234-567</p>
      </div>
    </div>
  </footer>

</html>
