<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Ascender</title>
  <link rel="stylesheet" href=  "../static/style/style.css">

  <link href="dashboardaluno.html" rel="stylesheet">
</head>
<body>

  <!-- HEADER -->
  <header>
    <div class="logo">
      <img src="../static/img/logo-ascender.jpg" alt="Ascender Logo">
    </div>
    <nav>
      <a href="{{ url_for('index') }}">Sobre</a>
    </nav>
  </header>

  <!-- MAIN -->
  <main >
    <section class="intro">
      <h2>Entre na sua conta!</h2>
      <p>para acessar seu perfil, <br> 
         agendar aulas e controlar <br> 
         seu progresso.</p>
    </section>

    <section class="login">
      <h2>Login</h2>
      <form action="{{ url_for('login') }}" method="post" >
        <input type="email" id="email" name="email" placeholder="Insira seu e-mail" required>
        <input type="password" id="senha" name="senha" placeholder="Insira sua senha" required>
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
    <div class="flash {{ category }}">
        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
{% endfor %}

                </div>
            {% endif %}
        {% endwith %}
        <button type="submit">  Concluído </button>
      </form>

      <p class="cadastro">Não possui uma conta? <a href="{{ url_for('cadastro') }}" ><br>Crie agora</a></p>
    </section>
  </main>
</body>

  <footer class="rodape">
    <div class="conteudo-rodape">
      <div class="coluna-esquerda">
        <h3>ASCENDER</h3>
        <p><a href="home.html">Sobre nós</a></p>
      </div>
      <div class="coluna-direita">
        <p>Rua das Acácias, 123</p>
        <p>Bairro Jardim Primavera</p>
        <p>São Paulo - SP</p>
        <p>CEP: 01234-567</p>
      </div>
    </div>
  </footer>

</html>
